.title-large
{
    font: 400 50px/1.02 "Lora";
}

.title-medium
{
    font: 400 27px/1.11 "Lora";
}

.title-small
{
    font: 400 16px/1.31 "Lora";
}

.subtitle-large
{
    font: 400 17px/1.18 "Oxygen";
}

.subtitle-medium
{
    font: 400 14px/1.79 "Oxygen";
}

.subtitle-small
{
    font: 400 13px/1.46 "Oxygen";
}

.menu
{

}

.menu_bg-picture
{
    height: 89px;
    background: #4D565D url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 100vw rgba(35, 47, 56, .6);
}

.menu__content
{

}

.menu__link
{
    font: 400 12px/1.67 "Oxygen";
    text-transform: uppercase;
    letter-spacing: .6px;
    text-decoration: 0;
    color: #FFFFFF; 
}

.menu__logo
{
    font: 400 26px/1 "Lora";
    color: #FFFFFF;
}

.menu__navigation
{

}

.menu__link-subdued
{
    color: rgba(255, 255, 255, .6);
}

.hero-block
{
    /*height: 500px;*/
    background: #000000 url(../images/canyon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-block__menu
{

}

.hero-block__button
{

}

.hero-block__title
{
    letter-spacing: 2px;
    color: #FFFFFF;
}

.hero-block__subtitle
{
    color: rgba(255, 255, 255, .63);
}

.button
{
    width: 166px;
    height: 44px;
    background: #DD783F;
    border-radius: 3px;
    font: 400 13px/1.54 "Oxygen";
    color: #FFFFFF;
    border: 0;
    text-transform: capitalize;
}

.theme-menu
{
    color: #FFFFFF;
}

.theme-menu__link
{
    font: 400 14px/1.43 "Lora";
    color: #768088;
    text-decoration: 0;
}

.main
{
    background: #F7F7F7;
}

.section-title
{
    
}

.section-title__text
{
    font: 400 20px/1.35 "Oxygen";
    letter-spacing: 2px;
}

.section-title__divider
{
    width: 188px;
    height: 1px;
    background: #DEDEDE;
    border: none;
}

.primary-content
{

}

.primary-article
{

}

.primary-article__title
{
 color: #FFFFFF;
}

.primary-article__subtitle
{
 color: rgba(255, 255, 255, 0.7);
}

.primary-article__info
{
 color: rgba(255, 255, 255, 0.7);
}

.secondary-content
{

}

.secondary-article
{
    background: #FFFFFF;
}

.secondary-article__title
{
    color: #101315; 
}

.secondary-article__subtitle
{
 color: #7A7A7A;
}

.secondary-article__info
{
 color: #999999;
}

.caption
{

}

.caption__text
{
    font: 400 12px/2.92 "Oxygen";
}

.tag
{
    width: 87px;
    height: 26px;
    font: 400 12px/1.08 "Oxygen";
    text-transform: uppercase;
    color: #FFFFFF;
    background: #DD783F;
    border-radius: 2px;
}

/* Article */
.menu__logo_invert
{
    color: #2E2E2E;
}

.menu__link_invert
{
    color: #2E2E2E;
}

.article-header
{

}

.article-header__title
{
    color: #2E2E2E;
}

.article-header__subtitle
{
    color: rgba(46, 46, 46, 0.63);
}

.article-body
{

}

.artticle__menu
{
    
}

.article__text
{
    font: 400 24px/1.46 "Oxygen";
    color: #101315;
}