<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Escape</title>
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header class="hero-block">
        <div class="hero-block__menu menu">
            <span class="menu__logo">Escape.</span>
            <nav class="menu__navigation">
                <a href="#" class="menu__link">Home</a>
                <a href="#" class="menu__link">Categories</a>
                <a href="#" class="menu__link">About</a>
                <a href="#" class="menu__link">Contact</a>
            </nav>
        </div>
        <h1 class="hero-block__title title-large">{{ .Title }}</h1>
        <p class="hero-block__subtitle subtitle-large">{{ .Subtitle }}</p>
        <button class="hero-block__button button">View latest post</button>
    </header>
    <nav class="theme-menu">
        <a href="#" class="theme-menu__link">Nature</a>
        <a href="#" class="theme-menu__link">Photography</a>
        <a href="#" class="theme-menu__link">Relaxation</a>
        <a href="#" class="theme-menu__link">Vacation</a>
        <a href="#" class="theme-menu__link">Travel</a>
        <a href="#" class="theme-menu__link">Adventure</a>
    </nav>
    <div class="main">
        <h2 class="section-title">Featured Posts</h2>
        <section class="primary-content">
            {{ range .FeaturedPosts }}
            <a href="/post/{{ .PostID }}" class="{{ .ImgModifier }} primary-article"> <!-- 1. заменил div на a, указал адрес ссылки -->
                <div class="primary-article__content">
                    <h3 class="primary-article__title title-medium">{{ .Title }}</h3>
                    <p class="primary-article__subtitle subtitle-medium">{{ .Subtitle }}</p>
                    <div class="primary-article__info caption">
                        <div class="caption__autor">
                            <img class="caption__photo" src="{{ .AuthorImg }}" alt="Author photo">
                            <span class="caption__text">{{ .Author }}</span>
                        </div>
                        <span class="caption__text">{{ .PublishDate }}</span>
                    </div>      
                </div>
            </a>
            {{ end }}
        </section>
        <h2 class="section-title">Most Recent</h2>
        <section class="secondary-content">
            {{ range .MostRecentPosts }}
            <a href="/post/{{ .PostID }}" class="secondary-article"> <!-- 2. заменил div на a, указал адрес ссылки -->
                <img class="secondary-article__cover" src="{{ .Image }}" alt="Artical cover">
                <h3 class="secondary-article__title title-small">{{ .Title }}</h3>
                <p class="secondary-article__subtitle subtitle-small">{{ .Subtitle }}</p>
                <div class="secondary-article__info caption caption_devided">
                    <div class="caption__autor">
                        <img class="caption__photo" src="{{ .AuthorImg }}" alt="Author photo">
                        <span class="caption__text">{{ .Author }}</span>
                    </div>
                    <span class="caption__text">{{ .PublishDate }}</span>
                </div>
            </a>
            {{ end }}
        </section>
    </div>

    <footer class="footer">
        <span class="section-title footer__title">Stay in touch</span>
        <form class="contact-form" action="#">
            <input class="contact-form__email" type="email" name="email" placeholder="Enter your emwil adress">
            <input class="contact-form__button" type="submit" value="Submit">
        </form>

        <div class="footer__menu menu menu_bg-picture">
            <span class="menu__logo">Escape.</span>
            <nav class="menu__navigation">
                <a href="#" class="menu__link menu__link-subdued">Home</a>
                <a href="#" class="menu__link menu__link-subdued">Categories</a>
                <a href="#" class="menu__link menu__link-subdued">About</a>
                <a href="#" class="menu__link menu__link-subdued">Contact</a>
            </nav>
        </div>  
    </footer>
</body>        
</html>